<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laurencedawson.sharelistener"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="ShareListener"
        android:theme="@style/ShareListenerTheme" >
        <activity
            android:name=".ListenerActivity"
            android:label="ShareListener" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>